@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

body {
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(81, 82, 87, 1) 50%, rgba(163, 163, 157, 1) 100%);
}

.gallery-body {
  margin: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  font-family: Afacad Flux;
  font-weight: 600;
}

.gallery-body h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 6.5rem;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Each image is rotated by index * 45 degrees */
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-container span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 6px #000000);
}

.btn-container {
  position: relative;
  width: 80%;
}

.btn {
  position: absolute;
  bottom: -80px;
  background: #330363;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.3s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pause-btn {
  position: absolute;
  bottom: -80px;
  background: #ba030c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.3s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn:hover {
  filter: brightness(1.75);
}

.pause-btn:hover {
  background: #f76068;
}

#prev {
  left: 5%;
}

#next {
  right: 5%;
}
